.secondary-btn {
    color: #ffffff;
    background-color: gray;
    width: 242px;
    height: 43px;
    border-radius: 11px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.03); 
    }
}