.navbar {
  position: sticky;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.main-view-navbar {
    .logo {
      display: flex;
      align-items: center;
      h1 {
        color: var(--color-2);
        font-family: var(--font-2);
        font-size: 2rem;
      }

      img {
        width: 80px;
        margin: -18px;
      }
    }

    .menu {
      .menu-burger {
        display: none;
      }
      a {
        margin: 0 15px 0 0;
        text-decoration: none;
        color: var(--color-2);
        transition: 0.2s ease-in-out;

        &:hover {
          color: var(--color-5);
        }

        &:nth-child(6) {
          margin-right: 0px;
        }
      }
    }

    .search-cart {
      display: flex;

      button {
        border-radius: 50px;
        border: none;
        margin: 5px;
        margin-top: 12px;
        height: 30px;
        width: 50px;
        background-color: var(--color-6);
        color: var(--color-2);
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      #search-magni {
        margin-left: -30px;
        padding-left: 27px;
        width: 60px;

        .search-icon {
          &:hover {
            transform: scale(1.1);
          }
        }

        &:hover {
          transform: none;
        }
      }

      form {
        input {
          box-shadow: -1px 0px 1px 2px rgba(0, 0, 0, 0.2);
          padding: 15px;
          border: none;
          border-radius: 50px;
          height: 30px;
          transform: translateZ(10px);
          transform: translateY(-1.1px);
        }
      }
    }
  }

  &.alt-view-navbar {
    .logo {
      display: flex;
      align-items: center;
      color: var(--color-8);
      font-family: var(--font-2);
      font-size: 2rem;

      img {
        width: 80px;
        margin: -18px;
      }
    }

    .menu {
      .menu-burger {
        display: none;
      }

      a {
        margin: 0 15px 0 0;
        text-decoration: none;
        color: var(--color-8);
        transition: 0.2s ease-in-out;

        &:hover {
          color: var(--color-5);
        }

        &:nth-child(6) {
          margin-right: 0px;
        }
      }
    }

    .search-cart {
      display: flex;

      button {
        border-radius: 50px;
        border: none;
        margin: 5px;
        margin-top: 12px;
        height: 30px;
        width: 50px;
        background-color: var(--color-6);
        color: var(--color-2);
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        //ikonerna hoppar när man hovrar
      }

      #search-magni {
        margin-left: -30px;
        padding-left: 27px;
        width: 60px;

        .search-icon {
          &:hover {
            transform: scale(1.07);
          }
        }

        &:hover {
          transform: none;
        }
      }

      form {
        input {
          box-shadow: -1px 0px 1px 2px rgba(0, 0, 0, 0.2);
          padding: 15px;
          border: none;
          border-radius: 50px;
          height: 30px;
          transform: translateZ(10px);
          transform: translateY(-1.1px);
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .navbar {
    &.main-view-navbar {
      .logo {
        h1 {
          font-size: 1.3rem;
        }
      }

      .menu {
        a {
          margin-left: -2px;
          font-size: 0.9rem;
        }
      }

      .search-cart {
        #search-magni {
          width: 29px;

          .search-icon {
            margin-left: -20px;

            &:hover {
              transform: none;
            }
          }

          &:hover {
            transform: scale(1.07);
          }
        }

        form {
          input {
            display: none;
          }
        }
      }
    }

    &.alt-view-navbar {
      .logo {
        h1 {
          font-size: 1.3rem;
        }
      }

      .menu {
        a {
          margin-left: -2px;
          font-size: 0.9rem;
        }
      }

      .search-cart {
        #search-magni {
          width: 29px;

          .search-icon {
            margin-left: -20px;
          }

          &:hover {
            transform: none;
          }
        }

        form {
          input {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .navbar {
    &.main-view-navbar {
      .logo {
        display: none;
      }

      .menu {
        .menu-burger {
          margin-top: 10px;
          width: 30px;
          height: 30px;
          display: inline;
        }

        a {
          display: none;
        }
      }
    }

    &.alt-view-navbar {
      .logo {
        display: none;
      }

      .menu {
        .menu-burger {
          margin-top: 10px;
          width: 30px;
          height: 30px;
          display: inline;
        }
        a {
          display: none;
        }
      }
    }
  }
}
