.footer {
  position: relative;

  .circles {

    .circle_1 {
      border-radius: 50% 50% 0 0;
      background-color: var(--color-7);
      height: 400px;
      width: 500px;
    }
  }

  .footer-body {
    height: 150px;
    background-color: var(--color-7);
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 500px;

    .icons {
      display: flex;
      gap: 70px;
      margin: 20px 0px 30px 0px;

      img {
        width: 35px;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    p {
      text-align: center;
      font-size: 1rem;
    }
  }
}
